@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  overflow-y: scroll;
  opacity: 0; /* Initially hide the container */
  transition: opacity 1s ease-in-out;
}

.container:hover {
  transform: scale(2);
}

/* Fade-in animations */
.fadeIn {
  opacity: 1;
}

.visible {
  opacity: 1;
  transform: none;
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.leave {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 25px;
  font-family: var(--font-robot);
  font-weight: 500;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .internships {
    width: 100%;
  }
}
